# Client configuration
[client]
#nada 

# The MariaDB server
[mysqld]
innodb_buffer_pool_size=8192M
innodb_lock_wait_timeout=900
innodb_log_file_size=64M
innodb_flush_log_at_trx_commit=1
max_allowed_packet = 16M
server-id	= 1
bind-address    = 127.0.0.1
log-error       = /var/log/mysql/mysqld.log
secure_file_priv = /var/lib/mysql-files

[mysqld_multi]
mysqld     = /usr/bin/mysqld_safe
mysqladmin = /usr/bin/mysqladmin
log        = /var/log/mysqld_multi.log


!includedir /etc/my.cnf.d

